:root {
  --primary-bg: #1e1e1e;
}

html,
body {
  box-sizing: border-box;
  color: black;
  width: 220px;
  height: 77px;
  position: relative;
  font-family: Arial, Geneva, Tahoma, sans-serif;
}

body {
  background-size: 32px 32px;
  background-image: linear-gradient(to right, lightgray 1px, transparent 1px),
    linear-gradient(to bottom, lightgray 1px, transparent 1px);
}


.score-wrapper {
  text-transform: uppercase;

}
.score-wrapper span:nth-child(1) {
  margin-left: 5px;
  color: green;
}

.score-wrapper span:nth-child(2) {
  margin-left: 5px;
  color: red;
}

.score-wrapper span:nth-child(2) > span{
  margin-left: 5px;
  color: red;
}


.game-wrapper {
  padding: 14px;
}

.operand {
  font-size: 16px;
}

.result-input {
  padding: 0;
  width: 40px;
  font-size: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.animation-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.animation-text {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  opacity: 0;
  transform: scale(0);
  color: lightgreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.animation-result {
  animation: appearGrowFade 1s ease-in forwards;
}

@keyframes appearGrowFade {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}
